.footer {
    padding: 50px 0 100px;
    position: relative;

    @include tablet {
        padding: 40px 0 80px;
    }

    @include mobile {
        padding: 20px 0 50px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}