*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
  cursor: pointer;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Regular.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url(../fonts/MontserratAlternates-Medium.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-brown: #3C322D;
  --color-brown-alt: #2E2520;
  --color-dark: #000000;
  --color-pink: #F3848C;
  --color-pink-alt: #E8B7B745;
  --color-white: #F6F7F7;
  --border: 1px solid var(--color-pink);
  --border-radius: 25px;
  --shadow: 10px 15px 25px 0 var(--color-pink-alt);
  --font-family-base: "Montserrat", sans-serif;
  --container-width: 1248px;
  --container-padding-x: 20px;
  --section-padding-y: 50px;
  --input-height: 22px;
  --button-height: 40px;
  --transition-duration: 0.2s;
  --border-circle: 50%;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  overflow: hidden !important;
}

.circle {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 320px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 321px) {
  .visible-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-tablet {
    display: none !important;
  }
}

@media (max-width: 1280px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (min-width: 1281px) {
  .visible-desktop {
    display: none !important;
  }
}

body {
  font-size: clamp(16px, 1.40625vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 22px;
  color: var(--color-brown);
  background-color: #eeeced;
}

a, button, input, textarea, svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(28px, 4.6875vw, 60px);
}

h3 {
  font-size: clamp(16px, 1.875vw, 24px);
}

.title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 20px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border: 0;
  border-radius: var(--border-radius);
  min-width: 145px;
  filter: drop-shadow(10px 15px 25px rgba(232, 183, 183, 0.45));
}
@media (hover: hover) {
  .button:hover {
    background: var(--color-brown);
    color: var(--color-pink);
  }
}
@media (hover: none) {
  .button:active {
    background: var(--color-brown);
    color: var(--color-pink);
  }
}
.button--quadratic {
  border-radius: 1px;
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  height: 30px;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: absolute;
  border-radius: var(--border-radius);
  right: 40px;
  top: 32px;
}
@media (max-width: 320px) {
  .burger-button {
    right: 20px;
    top: 28px;
  }
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-pink-alt);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-pink-alt);
  }
}
.burger-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50%;
  height: 2px;
  background-color: var(--color-brown);
  border-radius: 1px;
  box-shadow: 0 -7px var(--color-brown), 0 7px var(--color-brown);
}

.header {
  padding-top: 36px;
}
@media (max-width: 768px) {
  .header {
    padding-top: 24px;
  }
}
.header__inner {
  display: flex;
  align-items: center;
}
.header__inner .header--logo {
  margin-right: 55px;
}
@media (max-width: 1280px) {
  .header__inner .header--logo {
    margin-right: 40px;
  }
}
.header__inner .header--logo .logo__image {
  width: 158px;
}
.header__inner .header__menu-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1280px) {
  .header__inner .header__menu-list {
    gap: 15px;
  }
}
.header__inner .header__menu-link {
  display: inline-flex;
  align-items: center;
  height: 30px;
  position: relative;
}
@media (hover: hover) {
  .header__inner .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__inner .header__menu-link:active::after {
    width: 100%;
  }
}
.header__inner .header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  height: 2px;
  width: 0;
  background-color: currentColor;
  transition-duration: inherit;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
  border-radius: var(--border-radius);
  right: 25px;
  top: 17px;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-pink-alt);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-pink-alt);
  }
}
@media (max-width: 320px) {
  .cross-button {
    right: 6px;
    top: 14px;
  }
}
.cross-button::after, .cross-button::before {
  content: "";
  position: absolute;
  top: 48%;
  left: 7.5px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 1px;
}
.cross-button::after {
  rotate: 45deg;
}
.cross-button::before {
  rotate: -45deg;
}

.tablet-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  background-color: var(--color-white);
}
.tablet-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.tablet-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
.tablet-overlay__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 140px;
}
.tablet-overlay__link {
  font-size: 40px;
  font-weight: 500;
}
.tablet-overlay--logo {
  position: absolute;
  top: 24px;
  left: 20px;
}
.tablet-overlay__button {
  font-size: 40px;
  font-weight: 500;
  height: 69px;
}

.head__inner {
  padding: 65px var(--container-padding-x) 90px;
}
@media (max-width: 320px) {
  .head__inner {
    padding: 28px var(--container-padding-x) 43px;
  }
}
@media (max-width: 768px) {
  .head__inner {
    padding: 20px var(--container-padding-x) 8px;
  }
}
@media (max-width: 320px) {
  .head__content {
    text-align: center;
  }
}
.head__main-title {
  line-height: 65px;
  margin-bottom: 20px;
  max-width: 750px;
}
@media (max-width: 768px) {
  .head__main-title {
    max-width: 400px;
    margin-bottom: 10px;
    line-height: 37px;
  }
}
@media (max-width: 320px) {
  .head__main-title {
    margin-bottom: 18px;
    line-height: 34px;
  }
}
.head__subtitle {
  line-height: 29px;
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  .head__subtitle {
    margin-bottom: 24px;
    line-height: 20px;
  }
}
@media (max-width: 320px) {
  .head__subtitle {
    margin-bottom: 28px;
  }
}
.head__button {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .head__button {
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .head__button {
    margin-bottom: 28px;
    text-align: center;
  }
}

.icons-list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media (max-width: 320px) {
  .icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about {
  padding: 32px 0 50px;
}
@media (max-width: 320px) {
  .about {
    padding: 10px 0;
  }
}
.about__img-container {
  border-radius: var(--border-radius);
  overflow: hidden;
}
@media (max-width: 1280px) {
  .about__img {
    height: 375px;
  }
}
@media (max-width: 768px) {
  .about__img {
    width: 100%;
    height: 100%;
  }
}
.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}
@media (max-width: 1280px) {
  .about__inner {
    gap: 27px;
  }
}
@media (max-width: 768px) {
  .about__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
.about__main-title {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 32px;
  position: relative;
  left: -1px;
}
@media (max-width: 768px) {
  .about__main-title {
    text-align: center;
  }
}
.about__paragraph-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.about__paragraph-list:after {
  content: "";
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .about__paragraph-list:after {
    content: "Read more";
  }
}

.program {
  padding: 50px 0 115px;
}
@media (max-width: 320px) {
  .program {
    padding: 10px 0 17px;
  }
}
.program__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .program__inner {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.program__content {
  padding: 50px 0 50px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1280px) {
  .program__content {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .program__content {
    gap: 14px;
  }
}
.program__content:after {
  content: "";
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
  cursor: pointer;
}
@media (max-width: 1280px) {
  .program__content:after {
    content: "Read more";
  }
}
.program__main-title {
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .program__main-title {
    margin-bottom: 14px;
    text-align: center;
  }
}
.program__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.program__list-item {
  display: flex;
  gap: 16px;
}
.program__paragraph {
  max-width: 392px;
}
@media (max-width: 768px) {
  .program__paragraph {
    font-size: 16px;
  }
}
.program__images-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 36px;
  grid-column-gap: 138px;
}
@media (max-width: 1280px) {
  .program__images-list {
    grid-row-gap: 28px;
    grid-column-gap: 38px;
  }
}
@media (max-width: 768px) {
  .program__images-list {
    grid-row-gap: 12px;
    grid-column-gap: 2px;
    margin-top: 24px;
  }
}
@media (max-width: 320px) {
  .program__images-list {
    grid-column-gap: 10px;
  }
}
.program__images-list-item {
  width: 291px;
  height: 291px;
  border: 1px var(--color-pink) solid;
  text-align: center;
  transition: var(--transition-duration);
  position: relative;
}
@media (hover: hover) {
  .program__images-list-item:hover {
    transform: translateY(-25px);
    filter: drop-shadow(0 7px 27px rgba(253, 88, 140, 0.35));
  }
}
@media (hover: none) {
  .program__images-list-item:active {
    transform: translateY(-25px);
    filter: drop-shadow(0 7px 27px rgba(253, 88, 140, 0.35));
  }
}
.program__images-list-item:nth-of-type(2n) {
  top: 65px;
}
@media (max-width: 1280px) {
  .program__images-list-item {
    width: 222px;
    height: 222px;
  }
}
@media (max-width: 768px) {
  .program__images-list-item {
    width: 152px;
    height: 152px;
  }
}
@media (max-width: 768px) and (hover: hover) {
  .program__images-list-item:hover {
    transform: translateY(-10px);
  }
}
@media (max-width: 768px) and (hover: none) {
  .program__images-list-item:active {
    transform: translateY(-10px);
  }
}
@media (max-width: 768px) {
  .program__images-list-item:nth-of-type(2) {
    top: 0;
  }
  .program__images-list-item:nth-of-type(4) {
    top: 20px;
  }
}
@media (max-width: 320px) {
  .program__images-list-item {
    width: 134px;
    height: 134px;
  }
  .program__images-list-item:nth-of-type(2) {
    top: 15px;
  }
  .program__images-list-item:nth-of-type(4) {
    top: 15px;
  }
}
.program__images-list-item::before, .program__images-list-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: var(--border-circle);
}
.program__images-list-item::before {
  z-index: -2;
  background-size: cover;
  background-position: center;
}
.program__images-list-item:nth-of-type(1)::before {
  background-image: url(../../img/circle1.jpg);
}
.program__images-list-item:nth-of-type(2)::before {
  background-image: url(../../img/circle2.jpg);
}
.program__images-list-item:nth-of-type(3)::before {
  background-image: url(../../img/circle3.jpg);
}
.program__images-list-item:nth-of-type(4)::before {
  background-image: url(../../img/circle4.jpg);
}
.program__images-list-item::after {
  background: linear-gradient(360deg, rgb(0, 0, 0) 0%, rgb(156, 156, 156) 100%);
  z-index: -1;
  opacity: 35%;
}
.program__images-list-item-title, .program__images-list-item-subtitle {
  display: flex;
  flex-direction: column;
  margin-top: 190px;
  color: #FFFFFF;
  font-family: "Montserrat Alternates";
}
@media (max-width: 1280px) {
  .program__images-list-item-title, .program__images-list-item-subtitle {
    margin-top: 105px;
  }
}
@media (max-width: 768px) {
  .program__images-list-item-title, .program__images-list-item-subtitle {
    margin-top: 72px;
  }
}
@media (max-width: 320px) {
  .program__images-list-item-title, .program__images-list-item-subtitle {
    margin-top: 65px;
  }
}
.program__images-list-item-title {
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 768px) {
  .program__images-list-item-title {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 320px) {
  .program__images-list-item-title {
    font-size: 14px;
    line-height: 17px;
  }
}
.program__images-list-item-subtitle {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
}
@media (max-width: 768px) {
  .program__images-list-item-subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-top: 7px;
  }
}
@media (max-width: 768px) {
  .program__images-list-item-subtitle {
    font-size: 12px;
    line-height: 15px;
  }
}

.speakers {
  padding: 50px 0;
}
@media (max-width: 320px) {
  .speakers {
    padding: 17px 0 11px;
  }
}
.speakers__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speakers__main-title {
  font-weight: 500;
  margin-bottom: 20px;
}
.speakers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 32px;
}
@media (max-width: 1280px) {
  .speakers__list {
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .speakers__list {
    grid-row-gap: 20px;
    grid-column-gap: 0px;
  }
}
.speakers__list-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media (max-width: 320px) {
  .speakers__list-item {
    gap: 12px;
  }
}
.speakers__list-item-top {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-circle);
  width: 288px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .speakers__list-item-top {
    width: 130px;
    height: 160px;
  }
}
.speakers__list-item-top::before {
  content: "";
  display: block;
  width: 288px;
  height: 288px;
  background-color: var(--color-pink);
  opacity: 29%;
  border-radius: var(--border-circle);
}
@media (max-width: 768px) {
  .speakers__list-item-top::before {
    width: 130px;
    height: 130px;
  }
}
.speakers__list-item-top img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  max-width: unset;
}
@media (max-width: 768px) {
  .speakers__list-item-top img {
    width: 227px;
  }
}
.speakers .list-item:nth-child(3) .speakers__list-item-top img, .speakers .list-item:nth-child(4) .speakers__list-item-top img {
  width: 475px;
}
@media (max-width: 768px) {
  .speakers .list-item:nth-child(3) .speakers__list-item-top img, .speakers .list-item:nth-child(4) .speakers__list-item-top img {
    width: 215px;
  }
}
.speakers__name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .speakers__name {
    margin-bottom: 12px;
  }
}
.speakers__paragraph {
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
  max-width: 185px;
  display: flex;
  z-index: 1;
}
@media (max-width: 1280px) {
  .speakers__paragraph {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 320px) {
  .speakers__paragraph {
    font-size: 12px;
    line-height: 14.6px;
  }
}

.price {
  padding: 50px 0;
}
@media (max-width: 320px) {
  .price {
    padding: 11px 0 10px;
  }
}
.price__main-title {
  margin-bottom: 40px;
  text-align: center;
}
.price__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
@media (max-width: 768px) {
  .price__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.price__list-item {
  height: 610px;
  width: 395px;
  background-color: #FAFBFB;
  position: relative;
  padding: 28px 7px 40px;
  border-radius: var(--border-radius);
  z-index: 1;
  border: 1px transparent solid;
  transition: var(--transition-duration);
}
@media (hover: hover) {
  .price__list-item:hover {
    border: 1px var(--color-pink) solid;
    transform: translateY(-15px);
  }
}
@media (hover: none) {
  .price__list-item:active {
    border: 1px var(--color-pink) solid;
    transform: translateY(-15px);
  }
}
@media (max-width: 1280px) {
  .price__list-item {
    height: 610px;
    width: 225px;
    padding: 20px 9px 20px;
  }
}
@media (max-width: 768px) {
  .price__list-item {
    width: 290px;
  }
}
@media (max-width: 320px) {
  .price__list-item {
    height: auto;
    align-items: center;
  }
}
.price__list-item::after {
  content: "";
  width: 300px;
  height: 218px;
  background-image: url(../../img/donuts.png);
  background-size: contain;
  opacity: 15%;
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (max-width: 1280px) {
  .price__list-item::after {
    width: 200px;
    height: 145px;
  }
}
@media (max-width: 320px) {
  .price__list-item::after {
    display: none;
  }
}
.price__item-title {
  text-align: center;
  margin-bottom: 40px;
}
.price__list-point {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 1280px) {
  .price__list-point {
    gap: 12px;
  }
}
.price__item-point {
  display: flex;
  gap: 16px;
}
@media (max-width: 1280px) {
  .price__item-point {
    gap: 10px;
  }
}
@media (max-width: 1280px) {
  .price__paragraph {
    line-height: 20px;
  }
}
.price__button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1280px) {
  .price__button {
    bottom: 20px;
  }
}
@media (max-width: 320px) {
  .price__button {
    position: static;
    margin-top: 30px;
    margin-left: 138px;
  }
}

.input {
  height: 22px;
  width: 238px;
  padding: 0;
  background-color: transparent;
  border: none;
  padding-bottom: 2px;
  border-bottom: 1px var(--color-brown-alt) solid;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  outline: none;
}

.reviews {
  padding: 50px 0;
}
@media (max-width: 768px) {
  .reviews {
    padding: 40px 0;
  }
}
@media (max-width: 320px) {
  .reviews {
    padding: 10px 0 20px;
  }
}
.reviews__inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;
}
@media (max-width: 768px) {
  .reviews__inner {
    gap: 22px;
  }
}
.reviews__main-title {
  text-align: center;
  margin-bottom: 170px;
  font-size: 32px;
}
@media (max-width: 1280px) {
  .reviews__main-title {
    margin-bottom: 103px;
  }
}
@media (max-width: 768px) {
  .reviews__main-title {
    margin-bottom: 27px;
  }
}
.reviews__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  justify-items: center;
}
@media (max-width: 768px) {
  .reviews__list {
    display: flex;
    justify-content: center;
  }
}
.reviews__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.reviews__list-item:nth-of-type(2n+1) {
  position: relative;
  top: -170px;
}
@media (max-width: 1280px) {
  .reviews__list-item:nth-of-type(2n+1) {
    height: 208px;
    width: 151px;
  }
}
@media (max-width: 768px) {
  .reviews__list-item:nth-of-type(2n+1) {
    margin-bottom: 5px;
  }
}
@media (max-width: 1280px) {
  .reviews__list-item:nth-of-type(2) {
    height: 393px;
    width: 336px;
  }
}
@media (max-width: 320px) {
  .reviews__list-item:nth-of-type(2) {
    width: 280px;
    height: 337px;
  }
}
.reviews__star-list {
  display: flex;
  gap: 4px;
}
.reviews__list-title {
  font-weight: 500;
}
.reviews__nav {
  position: relative;
}
.reviews__nav::before, .reviews__nav::after {
  content: "";
  display: block;
  width: 35px;
  height: 2px;
  background-color: var(--color-pink);
  position: absolute;
  top: 45%;
}
.reviews__nav::before {
  left: -45px;
}
.reviews__nav::after {
  right: -45px;
}

.registration {
  padding: 50px 0 63px;
}
@media (max-width: 320px) {
  .registration {
    padding: 20px 0;
  }
}
.registration__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 28px;
}
.registration__main-title {
  text-align: center;
}
.registration__card {
  padding: 40px 15px 0;
  position: relative;
  height: 246px;
  width: 1023px;
  display: grid;
  grid-template-columns: 170px 304px 145px;
  justify-content: center;
  grid-template-rows: 166px;
}
@media (max-width: 1280px) {
  .registration__card {
    width: 704px;
    height: 246px;
    grid-template-columns: 98px 293px 145px;
  }
}
@media (max-width: 768px) {
  .registration__card {
    width: 100%;
    height: 394px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 8px 32px;
  }
}
.registration__card::after, .registration__card::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  height: 100%;
  width: 453px;
  display: block;
}
@media (max-width: 768px) {
  .registration__card::after, .registration__card::before {
    width: 100%;
    height: 394px;
    background-size: cover;
  }
}
.registration__card::after {
  background-image: url(../../img/registration-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -2;
}
.registration__card::before {
  background-color: var(--color-brown);
  opacity: 30%;
  z-index: -1;
}
@media (max-width: 768px) {
  .registration__card::before {
    opacity: 60%;
  }
}
.registration__image {
  position: absolute;
  bottom: 16px;
  left: 15px;
}
@media (max-width: 1280px) {
  .registration__image {
    width: 100px;
    height: 67px;
    bottom: 20px;
    left: 75px;
  }
}
.registration__svg {
  position: absolute;
  left: -15px;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.registration__time {
  font-size: 20px;
  font-weight: 500;
  text-align: right;
  position: relative;
}
.registration__time::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -20px;
  left: 0;
  background-color: transparent;
}
@media (max-width: 768px) {
  .registration__time::after {
    background-color: #FFFFFF;
  }
}
@media (max-width: 768px) {
  .registration__time {
    text-align: center;
  }
}
.registration__form {
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  margin-left: 28px;
  border-left: 1px solid var(--color-brown-alt);
  gap: 14px;
}
@media (max-width: 768px) {
  .registration__form {
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
}
.registration__form-title {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 10px;
}
@media (max-width: 1280px) {
  .registration__form-title {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .registration__form-title {
    margin-top: 40px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .registration__form-input {
    width: 100%;
    border-bottom: #FFFFFF 1px solid;
  }
}
@media (max-width: 768px) {
  .registration__form-input::-moz-placeholder {
    color: #FFFFFF;
  }
  .registration__form-input::placeholder {
    color: #FFFFFF;
  }
}
.registration__button {
  margin-top: 63px;
  position: relative;
  right: -15px;
}
@media (max-width: 1280px) {
  .registration__button {
    right: -74px;
  }
}
@media (max-width: 768px) {
  .registration__button {
    margin-top: 32px;
    right: 0;
  }
}

.contact {
  padding: 63px 0 50px;
}
@media (max-width: 768px) {
  .contact {
    padding: 34px 0 40px;
  }
}
.contact__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__main-title {
  margin-bottom: 27px;
}
.contact__subtitle {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .contact__subtitle {
    margin-bottom: 27px;
  }
}
.contact__input-list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .contact__input-list {
    margin-bottom: 28px;
  }
}
.contact__input {
  width: 394px;
}
@media (max-width: 768px) {
  .contact__input {
    width: 270px;
  }
}
@media (max-width: 320px) {
  .contact__input {
    width: 220px;
  }
}
.contact__button {
  margin-bottom: 37px;
}
@media (max-width: 768px) {
  .contact__button {
    margin-bottom: 31px;
  }
}
.contact__icon-list {
  display: flex;
  gap: 16px;
}

.footer {
  padding: 50px 0 100px;
  position: relative;
}
@media (max-width: 768px) {
  .footer {
    padding: 40px 0 80px;
  }
}
@media (max-width: 320px) {
  .footer {
    padding: 20px 0 50px;
  }
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}/*# sourceMappingURL=styles.css.map */